.toolbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem;
    gap: 0.25rem;
}

.textEditor {
    outline: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.textEditorContent {
    display: flex;
    outline: none;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow: auto;
}

.toolbarButton {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #e0e0e0;
    color: #000000;
    cursor: pointer;
}

.toolbarButton:hover {
    background-color: #bdbdbd;
}

.toolbarButtonActive {
    background-color: #bdbdbd;
    composes: toolbarButton;
}

.toolbarLeft, .toolbarRight {
    display: flex;
    gap: 0.25rem;
}