.pageContainer{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #282a36;;
    color: #f8f8f2;
}

.sidebar {
    height: 100vh;
    width: 15rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e0e0e0;
    overflow: auto;
}

.editorContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidebarButton {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(60, 139, 212);
    box-shadow: 0 0 0.2rem 0.2rem rgb(115, 167, 216);
    color: #fff;
    cursor: pointer;
    margin: 1.25rem;
}

.sidebarButton:hover {
    background-color: rgb(134, 177, 218);
}

.sidebarList {
    overflow: auto;
    gap: 0.2rem;
    list-style: none;
    padding:  0.5rem 0;
    display: flex;
    flex-direction: column;
}

.sidebarListItem {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.sidebarListItem:hover {
    background-color: rgb(134, 177, 218);
}

.sidebarListItemActive {
    background-color: rgb(123, 172, 218);
    composes: sidebarListItem;
}

.sidebarDelete {
    color: #ff0000;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    background-color: #3d404e;
}

.sidebarDelete:hover {
    background-color: #ff0000;
    border: 1px solid #ff0000;
    color: #ffffff;
}

.defaultPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}